
<div class="slider">
  <div class="slider-wrapper flex">
<div class="slide flex">
  
  <div class="slide-content">

    <div class="slide-title">Mentions légales
    </div>
    <div class="slide-text">
     <br> SASU AZUR VOYAGES au capital 10 000 € – SIRET 829 519 396 / RCS Versailles
     <br> Adresse: 1B Rue Léon Marie Cesne 78200 Mantes-la-Jolie
     <br><br>
      
      
      Gérant: KHARROUBI Habib
      <br><br>
      
      
      Crédit photos : Istock, Adobestock, Shutterstock, Dreamstime,Fotolia,Offices de tourisme, Prestataires, Pixabay, 
      PHOTOS et CARTES non contractuelles
      <br> Textes : Les textes, nécessairement simplifiés, n’ont pas valeur contractuelle.
      
      
      
      <br><br>
      
      Sources des articles cités:
      
      <br><br>
      
      Code du tourisme - articles L. 211-1 à L. 232-1 et articles R. 211- 1 et suivants
      
      <br>  Ordonnance du 20 décembre 2017 portant transposition de la directive (UE) 2015/2302 du Parlement européen et du Conseil du 25 novembre 2015 relative aux voyages à forfait et aux prestations de voyage liées
      
      
      <br><br>
       Décret du 29 décembre 2017 pris pour l'application de l'ordonnance n° 2017-1717 du 20 décembre 2017 portant transposition de la directive (UE) 2015/2302 du Parlement européen et du Conseil du 25 novembre 2015 relative aux voyages à forfait et aux prestations de voyage liées
      
      Arrêté du 1er mars 2018 fixant le modèle de formulaire d'information pour la vente de voyages et de séjours
      
      <br><br>
      
      Règlement (CE) n°2111/2005 du 14 décembre 2005 – Liste des transporteurs aériens non autorisés à voler
      
      
      
      </div>

  </div>
</div>
</div>
</div>


