<h3>Changez votre mot de passe </h3>

<div class="container">
  <form [formGroup]="changepswform" (ngSubmit)="onSubmitchangepswForm()">
    <label for="usrname">Tapez votre nouvelle mot de passe</label>
    <input type="password" id="psw" name="psw" formControlName="nouvp" required>
    

    <label for="psw">Confirmez votre mot de passe</label>
    <input type="password" id="usrname" name="usrname" formControlName="confirmerpass" required>
    
    <input type="submit" value="Submit">
  </form>
</div>
