<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class=" map2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.076722756481!2d1.7081974655025483!3d48.990097361186066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6bfab6d7aaaab%3A0x1e42e7fd6a3c57e5!2sAzur%20voyages!5e0!3m2!1sen!2stn!4v1616525678728!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>
                <!--<div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> insert email here </a></li>
                        <br/>
                        <li> <p> address line one </p> </li>
                        <li> <p> address line two </p> </li>
                    </ul>
                </div>
              -->
              <div class="menus">
                <div class="col-lg-12 col-sm-10 col-xs-6">
                    <ul>
                        <li> <h5> <a href="#" style="margin-top: 3em ; font-weight: bold;"> Contactez-nous</a> </h5></li>
                        <hr class="new4">
                        <div class="description">
                        <li> <p> AZUR VOYAGES ET SERVICES, société par actions simplifiée active depuis 3 ans.  </p> </li>
                        <li> <p>  Elle est spécialisée dans le secteur des activités des agences de voyage.</p> </li>
                      </div>
                        <hr class="new1">
                        <li><span> <i class="fa fa-map-marker"></i>   20 bis Avenue du Président Franklin Roosevelt, 78200 Mantes-la-Jolie
                        </span></li>
                        <hr class="new1">
                        <li><span><i class="far fa-envelope"></i> azurvoyages78@gmail.com</span></li>
                        <hr class="new1">
                        <li><span><i class="fa fa-phone" ></i>  - Habib KHARROUBI ( Président ) 01 71 48 85 75​​​​​​​
                        </span></li>
                        <hr class="new1">
                       <!-- <li><span><i class="fa fa-phone" ></i> - Nader Morjen ( Agent Immobilier) +(216) 93 083 400  </span></li>
                        <hr class="new1">
                        <li><span><i class="fa fa-phone"  ></i>- Hanen Letaief ( Assistante de Direction) +(216) 97 091 023 </span></li>
                       -->
                        
                        
                        
                        
                         

                    </ul>
                </div>
              </div>
               
        </div>
 
    </div>
    
  
</div>
<div class="footer-bottom">
        
  <p class="pull-left copyright"> ©2021 | Azur voyages | Tous droits réservés </p>


</div>
</footer>