<div class="container">
  <a class="card1">
    <div class="feature-icon center-block">
      <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/heart-circle-1180333.png" class="img-original"/>
    </div>
    <h3>Coup de coeur</h3>
    <hr class="new4">
    <p class="small">Notre agence vous offre les biens que vous souhaitez</p>
   
  </a>
  <a class="card1" [routerLink]="['/etranger']">
    <div class="feature-icon center-block">
      <i class="fas fa-globe-europe"></i>
            </div>
    <h3>Investisseurs étranger</h3>
    <hr class="new4">
    <p class="small">L'achat d'un bien immobilier est une décision importante</p>
    
  </a>

  <a class="card1">
    <div class="feature-icon center-block">
      <i class="fab fa-markdown"></i>
    </div>
    <h3>Marketing</h3>
    <hr class="new4">
    <p class="small">Ne vous inquietez pas ! notre agence  peut vous servir avec le service Marketing </p>
    
  </a>
  
 


  <a class="card1">
    <div class="feature-icon center-block">
      <i class="fas fa-tasks"></i>
    </div>
    <h3>Mandat</h3>
    <hr class="new4">
    <p class="small">Un service en ligne pour suivre la vente ou la location de votre bien.
    </p>
    
  </a>
 
  
</div>