
    <div class="container">
  
     <img class ="image" src="https://i.imgur.com/8QxUcto.png">

  
    </div>
 
  <div class="container">
    <!-- Example row of columns -->
  
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Notre accompagnement comprend : </h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/estimation']" class="btn btn-sm animated-button victoria-one">Estimer votre Bien</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/vente']" class="btn btn-sm animated-button victoria-one">Vente</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/location']" class="btn btn-sm animated-button victoria-one">Location</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/achat']" class="btn btn-sm animated-button victoria-one">Achat</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/locative']" class="btn btn-sm animated-button victoria-one">Gestion locative</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/whatsup']"class="btn btn-sm animated-button victoria-one">Conseiller en ligne whatsapp</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/juridique']" class="btn btn-sm animated-button victoria-one">Conseils juridiques</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/concertation']" class="btn btn-sm animated-button victoria-one">Service de concertation</a> </div>
  
    </div>
  



