<div class="slider">
    <div class="slider-wrapper flex">
  <div class="slide flex">
    <div class="slide-image slider-link next"><img src="https://scontent.ftun5-1.fna.fbcdn.net/v/t1.15752-9/104563647_645395546053476_6945387094541587463_n.png?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=s2yYDDdjXE8AX9ctkEX&_nc_ht=scontent.ftun5-1.fna&oh=654f4b7394c163c5e02ba4e457b54f4e&oe=5F110D0C">
      <div class="overlay"></div>
    </div>
    <div class="slide-content">
      
    
      <div class="slide-text">
        L'achat d'un bien immobilier est une décision importante. Nous saurons vous accompagner pour vous aider à trouver le bien qui répondra à vos attentes. N'hésitez-pas à vous inscrire sur notre site internet pour bénéficier d'alertes personnalisées et recevoir en priorité les nouveaux biens correspondants à votre envie.<br>
        Il est faut passer par plusieurs étapes :<br>
       <strong><u>1. Rechercher d’un bien immobilier à acquérir</u></strong><br>
          La première étape consiste à rechercher d’un bien immobilier à acquérir via Internet puisque la majorité de l’offre immobilière est aujourd’hui publiée dans des sites web. <br>
       <u> Rappel :</u> Un étranger peut acquérir une villa, une maison, un appartement, un terrain en Tunisie uniquement en zone urbaine ou touristique. Et d’obtenir l’autorisation préalable du Gouverneur.<br>
       <strong><u> 2.	Effectuer une réservation du bien à acquérir</u></strong><br>
                La deuxième étape consiste à effectuer une réservation du bien à acquérir avec un premier versement sur le compte bancaire de l’avocat choisi. Cette somme correspond soit à un acompte sur le prix du bien à acquérir si la vente se réalise.<br>
       <strong><u>3.	Signer une promesse de vente avec le propriétaire</u></strong><br>
       C’est l’acte par lequel le vendeur (propriétaire du bien) s’engage à vous vendre le bien choisi. Il est important dans cet acte de préciser les conditions de la vente.<br>
       <strong><u>4.	Déposer le dossier auprès du Gouverneur :</u></strong><br>
       La législation tunisienne oblige l’acquéreur de nationalité étrangère d’obtenir l’autorisation préalable du Gouverneur où le bien immobilier se situe. Les délais d’obtention de cette autorisation diffèrent selon les gouvernorats.<br> 
       Constitution du dossier :<br>
       Une fois la promesse de vente signée et le montant de l’acompte versé, votre avocat doit présenter un dossier complet au Gouvernorat :<br>
       •	 Formulaire à retirer au gouvernorat et à remplir (5 exemplaires)<br>
       •	 Copie des documents justifiant de l’identité du vendeur<br>
       •	 Copie des documents justifiant de l’identité de l’acheteur<br>
       •	 Copie originale de la promesse de vente établie par un avocat ou un notaire dûment signée et légalisée par le vendeur et l’acheteur<br>
       •	 Certificat de propriété du bien ou à défaut, contrat d’achat initial du vendeur<br>
       •	 Quitus de la taxe municipale<br>
       •	 Attestation de la municipalité précisant la nature et l’usage du bien<br>
       •	 Procès-verbal d’un huissier notaire précisant la nature du bien et le nom de son occupant<br>
       •	 Copie du plan topographique<br>
       •	 Copie du plan de situation<br>
       •	 Extrait<br>
       Afin de faciliter cette tâche, il est conseillé de recourir à votre avocat. Il est à noter que notre agence Letaief immobilière à Hammam Sousse collabore avec des avocats expérimentés bien choisis et vous garantit un achat immobilier sûr en toute tranquillité.<br>
       <strong><u>5. Enregistrer l’achat de votre propriété</u></strong><br>
       Une l’autorisation du gouverneur vous a été accordée, il faut procéder à la signature et la légalisation du contrat d’achat définitif.
       Par la suite, il faut passer aux démarches d’enregistrement et de transcription bien immobilière achetée à la Recette des finances du lieu où est placé le bien.
       Il est vrai que toutes ces démarches paraissent lentes et compliquées. Mais, nous estimons que le plaisir que vous auriez lorsque vous serez installés dans votre nouveau logement, vous fera oublier toutes ses formalités fastidieuses.<br>
       
        </div>
       
       
    </div>
  </div>
</div>
  </div>