


  <div id="container">

    <nav>
      <div id="logo">
        <img class="mylogo" [routerLink]="['/home']" style="height: 70px; width: 120px;" src="https://i.imgur.com/engFusW.png">
      </div>
      <ul>
        
        <li class="dropdown"><a>ACHETER &nbsp;</a>
          <div class="dd">
            <div id="u_a_c">
              <div id="up_arrow"></div>
            </div>
            <ul>

              <li><a [routerLink]="['/acheter-maison']">MAISON</a></li>
              <li><a [routerLink]="['/acheter-villa']">VILLA</a></li>
              <li><a [routerLink]="['/acheter-appartement']">APPARTEMENT</a></li>
              <li><a [routerLink]="['/acheter-studio']">STUDIO</a></li>
              <li><a [routerLink]="['/acheter-immeuble']">IMMEUBLE</a></li>
              <li><a [routerLink]="['/acheter-bureau']">BUREAU</a></li>
            </ul>
          </div>
          </li>
          <li class="dropdown"><a>LOUER &nbsp; </a>
            <div class="dd">
              <div id="u_a_c">
                <div id="up_arrow"></div>
              </div>
              <ul>

                <li><a [routerLink]="['/louer-maison']">MAISON</a></li>
                <li><a [routerLink]="['/louer-villa']">VILLA</a></li>
                <li><a [routerLink]="['/louer-appartement']">APPARTEMENT</a></li>
                <li><a [routerLink]="['/louer-studio']">STUDIO</a></li>
                <li><a [routerLink]="['/louer-immeuble']">IMMEUBLE</a></li>
                <li><a [routerLink]="['/louer-bureau']">BUREAU</a></li>
                <li><a [routerLink]="['/louer-ete']">LOCATION ETE</a></li>
              </ul>
            </div>
            </li>
        
        <li class="dropdown"><a>TERRAIN &nbsp; </a>
          <div class="dd">
            <div id="u_a_c">
              <div id="up_arrow"></div>
            </div>
            <ul>

              <li><a [routerLink]="['/terrain-habitation']">HABITATION</a></li>
              <li><a [routerLink]="['/terrain-agricole']">AGRICOLE</a></li>
            
            </ul>
          </div>
          </li>
          <li class="dropdown"><a >COMMERCIAL &nbsp; </a>
            <div class="dd">
              <div id="u_a_c">
                <div id="up_arrow"></div>
              </div>
              <ul>
  
                <li><a [routerLink]="['/acheter-commercial']">ACHETER</a></li>
                <li><a [routerLink]="['/louer-commercial']">LOUER</a></li>
              
              </ul>
            </div>
            </li>
          <li class="dropdown"><a [routerLink]="['/vacances']">VACANCES &nbsp; </a>
            <div class="dd">
           
             
              
             
            </div>
            </li>
           
          <li class="dropdown"><a [routerLink]="['/honoraire']">HONORAIRES &nbsp; </a>
            <div class="dd">
           
             
              
             
            </div>
            </li>
            <li class="dropdown"><a [routerLink]="['/services']">SERVICES &nbsp; </a>
              <div class="dd">
             
               
                
               
              </div>
              </li>
            <li class="dropdown"><a [routerLink]="['/contact']">CONTACT &nbsp; </a>
              <div class="dd">
             
               
                
               
              </div>
              </li>
              <!--
              <li class="dropdown" *ngIf="isLoggedIn"><a>ADMIN &nbsp; </a>
                <div class="ddd">
                  <div id="u_a_c">
                    <div id="up_arrow2"></div>
                  </div>
                  <ul>
      
                    <li><a [routerLink]="['/admin/dashboard']">Gestion des annonces</a></li>
                    <li><a [routerLink]="['/gestionimages']">Gestion de slide</a></li>
                    
                    <li><a [routerLink]="['/listeannonceur']">Liste des annonceurs</a></li>
                    <li><a [routerLink]="['/listecontact']">Gestion des contacts</a></li>
                    <li><a (click)="onSignOut()" [routerLink]="['/home']">Deconnexion</a></li>
                  </ul>
                </div>
                </li>
              -->



<!--
                  <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="px-3 py-2">
                           <form class="form" role="form">
                                <div class="form-group">
                                    <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
              -->
                   
                    
                   
               
                  
            
     
     
           
        
      </ul>
    </nav>
  </div>

