


  <!-- Sidebar -->

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  
  <div class="slider">
    <div class="slider-wrapper flex">
  <div class="slide flex">
    <div class="slide-image slider-link next"><img src="https://www.2a-immo.fr/sites/2a-immo.fr/files/styles/large/public/actualite/immobilier.jpeg?itok=3GBz05jn">
      <div class="overlay"></div>
    </div>
    <div class="slide-content">
     
      <div class="slide-title">Achat</div>
      <div class="slide-text">
        L'achat d'un bien immobilier est une décision importante. Que vous souhaitiez investir ou bien démarrer une nouvelle vie dans un nouveau chez-soi, nous saurons vous accompagner pour vous aider à trouver le bien qui répondra à vos attentes.
 <br>
<strong>Pour un achat immobilier sécurisé bénéficiez des compétences de notre équipe</strong><br>
 Le conseil avisé de professionnels de l’immobilier sur le secteur de Sousse<br>
• Une recherche immobilière correspondant à vos attentes et à votre budget<br>
• Des visites de biens immobiliers ciblés<br>
• Une juste négociation<br>
• Le suivi technique et administratif de votre dossier, avec un conseil sur votre solution financière (simulation de prêt)<br>    
N'hésitez-pas à vous inscrire sur notre site internet pour bénéficier d'alertes personnalisées et recevoir en priorité les nouveaux biens correspondants à votre envie.
Notre clientèle étrangère pourra être accueillie en anglais par l’ensemble de nos conseillers.<br>

        </div>
  
    </div>
  </div>
</div>
  </div>
  

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/estimation']" class="btn btn-sm animated-button victoria-one">Estimer votre Bien</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/vente']" class="btn btn-sm animated-button victoria-one">Vente</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/location']" class="btn btn-sm animated-button victoria-one">Location</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/achat']" class="btn btn-sm animated-button victoria-one">Achat</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/locative']" class="btn btn-sm animated-button victoria-one">Gestion locative</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/whatsup']"class="btn btn-sm animated-button victoria-one">Conseiller en ligne whatsapp</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/juridique']" class="btn btn-sm animated-button victoria-one">Conseils juridiques</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/concertation']" class="btn btn-sm animated-button victoria-one">Service de concertation</a> </div>

  </div>