<body>
<ul>
  <li>
    <a>
      <h2>VENTE DE PROPRIETE</h2>
      <p>Le vendeur  payera  3%  sur la totalité du prix de vente</p>
      <br>
      <p>L’acquéreur payera  2%  sur la totalité du prix de vente</p>
    </a>
  </li>
  <li>
    <a>
      <h2>VENTE ET LOCATION DE FOND DE COMMERCE</h2>
      <p>Le vendeur  payera  5%  sur la totalité du prix de vente ou de location</p>
      <p>L’acquéreur payera  5%  sur la totalité du prix de vente ou de location</p>
    </a>
  </li>
  <li>
    <a>
      <h2> LOCATION A L'ANNEE</h2>
      <p>Le propriétaire payera 5 % sur le montant annuel de la location</p>
      <br>
      <p> le locataire payera 5 % sur le montant annuel de la location</p>
    </a>
  </li>
  <li>
    <a>
      <h2>LOCATION DE VACANCES ET DE COURTE DUREE </h2>
      <p>Le propriétaire payera 15 % sur le montant global de la location</p>
    
      <p>le locataire payera 15 % sur le montant global de la location</p>
    </a>
  </li>
  <li>
    <a>
      <h2>GESTION LOCATIVE</h2>
      <p>10 % du montant du loyer</p>
    </a>
  </li>
  <li>
    <a>
      <h2>ETAT DES LIEUX</h2>
      <p>1 % du montant de la location d'une année</p>
    </a>
  </li>
  <li>
    <a >
      <h2>ETABLISSEMENT DU CONTRAT DE LOCATION</h2>
      <p>1 % du montant de la location d'une année ; </p>
    </a>
  </li>
 

</ul>
</body>