

    <!-- Sidebar -->
  
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <div class="container-fluid">
        <div class="container">
            <img src="https://scontent.ftun5-1.fna.fbcdn.net/v/t1.15752-9/96034095_224640412168072_4231930245680201728_n.png?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=LhtDN0GCcfkAX-Ngrgr&_nc_ht=scontent.ftun5-1.fna&oh=bc438d6b5f4827f12f0774a1449e6f18&oe=5EDA96E7" alt="Notebook" style="width:100%;">
            <div class="content">
                <p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Votre conseillère  Maha Letaief </span></span></p>
                <p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Mobile: +(216) 97 083 400,+(216) </span></span></p>
                <p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">93 083 400, +(216) 97 091 023</span></span></p>
            </div>
          </div>    
    </div>
    </div>
  
    

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/estimation']" class="btn btn-sm animated-button victoria-one">Estimer votre Bien</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/vente']" class="btn btn-sm animated-button victoria-one">Vente</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/location']" class="btn btn-sm animated-button victoria-one">Location</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/achat']" class="btn btn-sm animated-button victoria-one">Achat</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/locative']" class="btn btn-sm animated-button victoria-one">Gestion locative</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/whatsup']"class="btn btn-sm animated-button victoria-one">Conseiller en ligne whatsapp</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/juridique']" class="btn btn-sm animated-button victoria-one">Conseils juridiques</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/concertation']" class="btn btn-sm animated-button victoria-one">Service de concertation</a> </div>
  
    </div>
  
