


  <!-- Sidebar -->

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  
  <div class="slider">
    <div class="slider-wrapper flex">
  <div class="slide flex">
    <div class="slide-image slider-link next"><img src="https://www.buyerside.be/uploads/about/shutterstock_206460199-3.jpg?v2">
      <div class="overlay"></div>
    </div>
    <div class="slide-content">
      <div class="slide-date">LETAIEF IMMOBILIERE</div>
      <div class="slide-title">Service de concertation</div>
      <div class="slide-text">
        •	Vente matériel utilisé pour construire sa maison<br>
•	Location matériel  de construction  <br>
•	Main d’œuvre ( plombier , électricien ,maçon , menuisier , technicien , chef de chantier …)<br>

        </div>
  
    </div>
  </div>
</div>
  </div>
  

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/estimation']" class="btn btn-sm animated-button victoria-one">Estimer votre Bien</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/vente']" class="btn btn-sm animated-button victoria-one">Vente</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/location']" class="btn btn-sm animated-button victoria-one">Location</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/achat']" class="btn btn-sm animated-button victoria-one">Achat</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/locative']" class="btn btn-sm animated-button victoria-one">Gestion locative</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/whatsup']"class="btn btn-sm animated-button victoria-one">Conseiller en ligne whatsapp</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/juridique']" class="btn btn-sm animated-button victoria-one">Conseils juridiques</a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a [routerLink]="['/concertation']" class="btn btn-sm animated-button victoria-one">Service de concertation</a> </div>

  </div>