





 
          <!-- Navigation-->
          <!--
          <nav class="navbar navbar-expand-lg fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']">AZUR</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-sliders-h"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/']">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/juridique']">Conditions générales de vente</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/locative']">Politique de confidentialité</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/location']">Mentions Légales</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/vente']">Contactez-nous</a></li>
                      </ul>
                </div>
            </div>
          </nav>


        -->
  
  <div class="slider">
    <div class="slider-wrapper flex">
  <div class="slide flex">
    <div class="slide-image slider-link next"><img src="https://i.imgur.com/ntjnCzS.png" style="margin-top: 70px;">
      <div class="overlay"></div>
    </div>
    <div class="slide-content" style="padding-top: 50px;">
      <div class="pdf">
      <a 

      href="javascript:void(0)" 
      style="cursor:pointer; color: #117a8b; font-size: large;"
      (click)="downloadPdf()">
      <i class="fas fa-2x fa-file-pdf"></i>
      Fiche pratique - Voyage et séjours à forfait
    </a>
      </div>
      <div class="slide-title">Textes de référence</div>
      <div class="slide-text">
        Code du tourisme - articles L. 211-1 à L. 232-1 et articles R. 211- 1 et suivants<br>

        Ordonnance du 20 décembre 2017 portant transposition de la directive (UE) 2015/2302 du Parlement européen et du Conseil du 25 novembre 2015 relative aux voyages à forfait et aux prestations de voyage liées
        
        <br>Décret du 29 décembre 2017 pris pour l'application de l'ordonnance n° 2017-1717 du 20 décembre 2017 portant transposition de la directive (UE) 2015/2302 du Parlement européen et du Conseil du 25 novembre 2015 relative aux voyages à forfait et aux prestations de voyage liées
        
        <br>Arrêté du 1er mars 2018 fixant le modèle de formulaire d'information pour la vente de voyages et de séjours
        
        <br>Règlement (CE) n°2111/2005 du 14 décembre 2005 – Liste des transporteurs aériens non autor
        
        <br> Pour les contrats dont la résolution (annulation) est notifiée entre le 1er mars 2020 et le 15 septembre 2020, l'agence de voyage peut vous proposer un avoir à la place d'un remboursement. Cela fait suite à la prise, par le gouvernement, de l'ordonnance n° 2020-315 du 25 mars 2020.29 mai 2020
        
        <br>Pour les contrats dont la résolution (annulation) est notifiée entre le 1er mars 2020 et le 15 septembre 2020, l'agence de voyage peut vous proposer un avoir à la place d'un remboursement. Cela fait suite à la prise, par le gouvernement, de l'ordonnance n° 2020-315 du 25 mars 2020
        
        <br>1. Annulation d’un séjour à l’initiative du voyageur
        
        <br>2. Annulation d’un séjour à l’initiative du voyagiste
        
        <br>3. Annulation d’un billet d’avion (vol sec) à l’initiative du voyageur
        
        <br>4. Annulation d’un billet d’avion (vol sec) à l’initiative de la compagnie aérienne
        
        <br>Le consommateur et le professionnel ont la possibilité d’annuler le voyage ou le vol en présence d’événements exceptionnels et inévitables qui empêcheraient le bon déroulement du séjour ou du transport.
        
        <br><br>ANNULATION D’UN SÉJOUR À L’INITIATIVE DU VOYAGEUR
        
        <br>  <br>Vous pouvez annuler le contrat sans frais si vous avez connaissance d’un événement exceptionnel et inévitable sur le lieu de destination, ou à proximité immédiate de celui-ci, ayant des conséquences importantes sur la bonne exécution du contrat.
        
        <br>Le voyagiste vous rembourse intégralement les sommes payées dans les meilleurs délais et en tout état de cause dans les 14 jours au plus tard après l’annulation du contrat. En revanche, un dédommagement complémentaire n’est pas dû par le professionnel (articles L. 211-14 et R. 211-10 du code du tourisme).
        
        <br>Les cas d'exclusion
        
        <br>Les circonstances personnelles au voyageur (raison professionnelle, maladie…) ne permettent pas d’invoquer l’annulation sans frais au titre des circonstances dites « exceptionnelles et inévitables ». Dans pareil cas, vérifiez :
        
        dans votre contrat, ce qui est prévu sur les frais d’annulation ;
        
        si vous êtes couvert par vos assurances (par exemple une assurance « moyens de paiement ») pour ce type de risque.
        
        <br>   <br>ANNULATION D’UN SÉJOUR À L’INITIATIVE DU VOYAGISTE
        
        <br>   <br> L’organisateur du voyage peut annuler le contrat si l’un des événements cités (climatique, sanitaire, politique…) l’empêche de l’exécuter.
        
        <br>Il doit vous le notifier le plus rapidement possible avant le début du séjour. L’organisateur vous rembourse intégralement les sommes payées dans les meilleurs délais et en tout état de cause dans les 14 jours au plus tard après l’annulation du contrat. Il n’est pas tenu de vous verser un dédommagement supplémentaire (articles L. 211-14 et R. 211-10 du code du tourisme).
        
        <br>Exemples d’événements exceptionnels et inévitables concernés par l’annulation :
        
        <br>Climatiques : ouragans (Harvey, Irma, Maria, Katrina), cyclones, typhons (Trami…), tremblements de terre, inondations, tsunamis…
        
        <br>Sanitaires : dengue, Zika, chikungunya…
        
        <br>Politiques : guerre civile, attentats, émeutes…
        
        <br>  <br>ANNULATION D’UN BILLET D’AVION (VOL SEC) À L’INITIATIVE DU VOYAGEUR
        
        <br><br>  Juridiquement, si le vol est maintenu, vous ne pouvez pas l’annuler sans frais, sauf si c’est prévu dans le contrat. En conséquence, le fait qu’un événement se produise sur votre lieu de destination ne vous permet pas d’annuler votre billet d’avion sans frais si la compagnie aérienne n’annule pas le vol. Cependant :
        
        <br>   vérifiez si vos assurances vous couvrent pour ce type de risque. En pratique, les annulations résultant de guerres civiles ou étrangères, d’émeutes, de mouvements populaires, d’actes de terrorisme, de tout effet d’une source de radioactivité, d’épidémies, de pollutions, de catastrophes naturelles, d’évènements climatiques sont la plupart du temps exclues ;
        
        <br> vérifiez que vos billets ne sont pas remboursables ou échangeables ;
        
        <br>consultez les consignes du quai d’Orsay afin de les opposer à la compagnie.
        
        <br><br>ANNULATION D’UN BILLET D’AVION (VOL SEC) À L’INITIATIVE DE LA COMPAGNIE AÉRIENNE
        
        <br><br>Dans le cadre de vols soumis à la réglementation européenne, le transporteur aérien peut annuler le vol pour des circonstances extraordinaires.
        
        <br>Lorsque la compagnie aérienne annule un vol pour ces circonstances, elle n’est pas tenue de verser l’indemnisation complémentaire si elle est en mesure de prouver que l’annulation est due à des circonstances extraordinaires qui n’auraient pas pu être évitées même si toutes les mesures raisonnables avaient été prises.
        
        <br>  Les circonstances extraordinaires décrites par le règlement sont la conséquence « d’instabilité politique, de conditions météorologiques incompatibles avec la réalisation du vol concerné, de risques liés à la sécurité, de défaillances imprévues pouvant affecter la sécurité du vol, ainsi que de grèves ayant une incidence sur les opérations d’un transporteur aérien effectif ».
        
        <br>Concernant les autres vols, les conventions internationales de Varsovie et de Montréal s’appliquant au transport international aérien de voyageurs, bagages ou marchandises n’indiquent pas d’obligation d’assistance ou de dédommagement dans ce cas de figure. Il faut se référer aux conditions générales de vente (CGV) de la compagnie aérienne pour vérifier ce qui est prévu, dans ces circonstances, concernant le remboursement et/ou l’indemnisation.
        
        <br> Pour les vols soumis à la réglementation européenne. Article 5 et considérant 14 du Règlement (CE) no 261/2004 du Parlement européen et du Conseil du 11 février 2004. Cette réglementation s’applique aux vols au départ d’un aéroport situé dans un État membre de l’Union européenne, de l’Islande, de la Norvège ou de la Suisse, quelle que soit la compagnie, ou effectués par une compagnie européenne à destination d’un aéroport situé dans un État membre de l’Union européenne, de l’Islande, de la Norvège ou de la Suisse.
        
        <br>Pour les autres vols. Se référer aux conditions générales de vente (CGV) de la compagnie aérienne.
        
        
  
        <br>Le nouveau Code du tourisme, issu de la transposition de la directive sur les voyages à forfait et les prestations de voyage liées, est applicable à tous les nouveaux contrats à compter du 1 juillet 2018. Il introduit de nouvelles notions et d’obligations pour les agences de voyages et apporte une meilleure protection au consommateur-voyageur.
        
        <br>Lorsque vous préparez un voyage, vous pouvez choisir de faire l’acquisition d’un « forfait touristique  » ou d’acheter une prestation de voyage liée.
        
        <br>Qu’est-ce qu’un forfait touristique ?
        
        <br>C’est la combinaison d’au moins deux types différents de services de voyage dépassant 24 heures ou incluant une nuitée si ces services sont :
        
        <br>soit combinés par un seul professionnel et avec conclusion d’un contrat unique ;
        
        <br> soit achetés auprès d’un seul point de vente et choisis avant que le voyageur n’accepte de payer ;
        
        <br>soit vendus à un prix tout compris ;
        
        <br>soit annoncés sous la dénomination de «  forfait  » ou une dénomination similaire ;
        
        <br>soit combinés après la conclusion d’un contrat avec possibilité pour le voyageur de choisir parmi une sélection de différents types de services de voyage ;
        
        <br>soit achetés auprès de différents professionnels grâce à des procédures de réservation en ligne liées.
        
        <br>Les principales évolutions
        
        <br>L’introduction de la prestation de voyage liée, qui se distingue du forfait et dispose d’un régime d’information et de garantie spécifique ;
        
        <br>Le renforcement de l’information précontractuelle due au voyageur (via un formulaire dédié) ;
        
        <br> La modification mineure du contrat possible avant le départ sous certaines conditions ;
        
        <br> Le droit du voyageur de résoudre le contrat à tout moment avant le départ et moyennant l’application de frais de résolution ;
        
        <br>  Le délai de prescription pour les réclamations des voyageurs de 2 ans au lieu de 5 ans selon le droit commun ;
        
        <br>La responsabilité de plein droit du professionnel qu’il vend un forfait touristique ou un service de voyage visé à l’article L ; 211-1 CdT qu’il ne produit pas lui-même ;
        
        <br> Ajout possible de la faculté pour le voyageur de résoudre le contrat en cas de non-conformité perturbant considérablement l’exécution du voyage ou du séjour lorsque le professionnel n’y remédie pas dans un délai raisonnable. Réduction de prix et dommages et intérêts, le cas échéant. (cf. art. L 211-16, IV CdT).
        
        <br> Et une prestation de voyage liée ?
        
        <br>Elle est réalisée en dehors du forfait touristique, c’est-à-dire de la combinaison d’au moins deux types différents de services de voyage couvrant au moins 24 heures ou une nuitée et entraînant la conclusion de contrats séparés avec des prestataires individuels, si un professionnel facilite :
        
        <br>le choix et le paiement séparés de chaque service de voyage par les voyageurs, à l’occasion d’une seule prise de contact ;
        
        <br>l’achat d’au moins un service de voyage supplémentaire auprès d’un autre professionnel, de manière ciblée et dans les 24 heures après la confirmation de la réservation du premier service de voyage.
        
        <br>Les informations qui suivent s’appliquent dans le cas de l’achat d’un forfait touristique.
        
        <br> Avant la conclusion du contrat
        
        <br> Le professionnel qui propose le voyage à la vente doit être immatriculé au registre tenu par Atout France, ce qui induit notamment une assurance garantissant les conséquences pécuniaires de sa responsabilité civile professionnelle ainsi qu’une garantie financière qui, en cas de faillite, assure le consommateur de ne pas perdre les frais déjà engagés.
        
        <br> Le professionnel doit vous informer sur les caractéristiques principales des prestations proposées relatives au transport et au séjour, les coordonnées du détaillant et de l’organisateur, le prix et les modalités de paiement, des conditions d’annulation et de résolution du contrat, assurances et les conditions de franchissement des frontières.
        
        <br> Le contrat de voyage
        
        <br> Le professionnel doit vous fournir une copie ou une confirmation du contrat sur un support durable.
        
        <br>Les points obligatoires du contrat de voyage
        
        <br>Caractéristiques principales des services de voyage : destination, itinéraire, dates, nombre de nuitées, transport, hébergement, repas, visites et excursions, taille du groupe, langue utilisée, accessibilité aux personnes à mobilité réduite, etc. ;
        
        <br> Dénomination sociale et adresse de l’organisateur et du détaillant et coordonnées ;
        
        <br> Prix total incluant les taxes et tous les frais, redevances et autres coûts supplémentaires ;
        
        <br>  Modalités de paiement ;
        
        <br> Nombre minimal de personnes requis pour le voyage ;
        
        <br> Conditions applicables en matière de passeports et de visas ;
        
        <br> Résolution du contrat ;
        
        <br>  Assurances obligatoires ou facultatives.
        
        <br> À noter,
        
        <br>N’oubliez pas de lire attentivement les conditions générales de vente du voyagiste et d’imprimer ou de conserver sur un support durable votre contrat ainsi que votre facture (utiles en cas de réclamation ultérieure).
        
        <br>Les points obligatoires  de l’information préalable écrite
        
        <br> Caractéristiques principales des services de voyage : destination, itinéraire, dates, nombre de nuitées, transport, hébergement, repas, visites et excursions, taille du groupe, langue utilisée, accessibilité aux personnes à mobilité réduite, etc. ;
        
        <br> Dénomination sociale et adresse de l’organisateur et du détaillant et coordonnées ;
        
        <br> Prix total incluant les taxes et tous les frais, redevances et autres coûts supplémentaires ;
        
        <br> Modalités de paiement ;
        
        <br> Nombre minimal de personnes requis pour le voyage ;
        
        <br> Conditions applicables en matière de passeports et de visas ;
        
        <br> Résolution du contrat ;
        
        <br>Assurances obligatoires ou facultatives ;
        
        <br> Exigences particulières du voyageur ;
        
        <br> Responsabilité du professionnel de la bonne exécution de tous les services de voyage compris dans le contrat et aide au voyageur en difficulté ;
        
        <br> Nom et coordonnées de l’entité chargée de la protection contre l’insolvabilité ;
        
        <br>Nom et coordonnées du représentant local du professionnel ou d’un point de contact ;
        
        <br> Communication de toute non-conformité ;
        
        <br> Informations pour contacter les mineurs ;
        
        <br> Procédures internes de traitement des plaintes et mécanismes de règlement extrajudiciaire des litiges ;
        
        <br> Informations sur le droit du voyageur de céder son contrat à un autre voyageur.
        
        <br>À noter
        
        <br> Dans le cadre d’achat de voyage à forfait vous ne bénéficiez pas d’un droit de rétractation.
        
        <br> Le prix du voyage
        
        <br> Les prix indiqués au contrat ne peuvent être majorés que si le contrat prévoit expressément cette possibilité et indique que vous avez droit à une réduction du prix. Dans ce cas, le contrat doit indiquer de quelle manière la révision du prix doit être calculée.
        
        <br> Les majorations de prix sont possibles uniquement pour tenir compte des variations suivantes :
        
        <br> prix du transport, lié notamment au coût du carburant ;
        
        <br>redevances et taxes (taxes touristiques, d’atterrissage, de débarquement, d’embarquement) ;
        
        <br> taux de change en rapport avec le contrat.
        
        <br> Bon à savoir
        <br> Une majoration du prix n’est possible que si le professionnel vous la notifie, en la justifiant, au plus tard 20 jours avant le début du voyage.
        
        <br> Les conditions de modification ou d’annulation du voyage
        
        <br> Elles sont prévues et détaillées dans votre contrat. Sauf en cas de circonstances exceptionnelles et inévitables survenant au lieu de destination, vous ne pouvez pas annuler sans perdre les sommes versées et sans avoir à payer des pénalités.
        
        <br> Si vous résiliez votre contrat avant le début du voyage, le professionnel pourra vous demander de payer des frais de résiliation.
        
        <br> Bon à savoir
        <br>Vous avez peut-être souscrit une assurance annulation lors de l’achat de votre voyage. Si tel est le cas reportez-vous au contrat pour voir si votre situation est couverte par cette assurance.
        
        <br>Que faire si l’agence modifie des éléments essentiels du voyage (dates du séjour, hausse significative des prix, changement d’itinéraire) ?
        
        <br> Dans ce cas deux options : vous pouvez résilier votre contrat sans frais et obtenir le remboursement des sommes versées ou accepter la modification proposée.
        
        <br> Et si l’agence annule votre voyage ?
        
        <br> L’agence doit vous rembourser la totalité des sommes versées et vous pouvez demander une indemnisation au moins égale à la pénalité que vous auriez dû payer si vous aviez annulé vous-même.
        
        <br> Cette indemnisation supplémentaire n’est pas due lorsque le professionnel est empêché d’exécuter le contrat en raison de circonstances exceptionnelles et inévitables.
        
        <br> Vous pouvez également réclamer des dédommagements si l’annulation de l’agence vous a causé un préjudice financier (engagements de dépenses importantes) ou moral (vacances gâchées).
        
        <br> Dans le cas où le contrat prévoit un nombre minimal de participants et que celui-ci n’est pas atteint, l’agence peut aussi annuler le voyage. Dans ce cas, l’agence doit vous rembourser mais ne sera pas tenue à vous payer une indemnisation si elle vous avertit au plus tard :
        
        <br> moins de 20 jours avant le début du voyage dans le cas d’un voyage de plus de 6 jours ;
        
        <br> moins de 7 jours avant le début du voyage dans le cas d’un voyage de 2 à 6 jours ;
        
        <br> moins de 48 heures avant le début du voyage dans le cas d’un voyage n’excédant pas plus de 2 jours.
        
        <br> Vous pouvez également réclamer des dédommagements si l’annulation de l’agence vous a causé un préjudice financier (engagements de dépenses importantes) ou moral (vacances gâchées).
        
        <br> Dans le cas où le contrat prévoit un nombre minimal de participants et que celui-ci n’est pas atteint, l’agence peut annuler le voyage. Dans ce cas, elle doit vous avertir au moins 21 jours avant le départ ou avant la date fixée par le contrat et vous rembourser.
        
        <br> Céder son voyage, c’est possible !
        
        <br> Vous pouvez céder votre contrat à une personne qui remplit les mêmes conditions que vous. Vous devez alors en informer le vendeur, au plus tard 7 jours avant le début du voyage (15 jours s’il s’agit d’une croisière).
        
        <br> Dans ce cas, vous restez solidairement responsable vis-à-vis du vendeur du paiement du solde du prix, mais aussi des frais supplémentaires éventuels occasionnés par cette cession. Renseignez-vous au préalable sur ces frais : certaines compagnies d’aviation refacturent le billet. Attention également au visa !
        
        <br> Pendant le voyage, vous rencontrez une déconvenue
        
        <br> Si les services fournis ne correspondent pas à ceux promis dans les catalogues, contrats, titres de transport et contrat d’assurance, sur place, constituez des preuves (témoignages, photos, imprimés et documents officiels divers).
        
        <br> Si vous constatez, au cours du voyage, qu’une des prestations n’est pas conforme à ce qui était prévu au contrat, informez-en le professionnel dans les meilleurs délais. Celui-ci doit tenter d’y remédier, sinon vous pouvez demander une réduction de prix et, le cas échéant, des dommages et intérêts. Si vous y remédiez par vous-même, vous pourrez réclamer le remboursement des dépenses nécessaires.
        
        <br> En outre, si la non-conformité perturbe considérablement votre voyage et que le professionnel n’y remédie pas dans un délai raisonnable, vous pouvez résilier votre contrat sans payer de frais, et demander une réduction de prix et des dommages et intérêts.
        
        <br> Enfin, si vous êtes en difficulté, le professionnel doit vous venir en aide dans les meilleurs délais.
        
        <br> Bon à savoir
        <br>Si vous avez acheté votre forfait touristique en ligne sur une plateforme de réservation, sachez qu’elle est soumise à la même règlementation qu’une agence de voyage « physique ». Vous avez le droit de vous retourner contre ce prestataire en ligne.
        
        <br> Que faire en cas de litige ?
        
        <br> Dans un premier temps, une démarche « amiable » auprès du professionnel qui vous a vendu votre voyage à forfait est à privilégier (conservez une copie de votre réclamation !). Contactez-le et constituez un dossier rassemblant tous les éléments de preuve recueillis. Les modalités de réclamation, notamment les délais, figurent sur votre contrat.
        
        <br> Exposez clairement le litige. Chiffrez le préjudice matériel (décompte des frais d’hôtel, des repas, des transports à rembourser avec pièces justificatives si possible) et le préjudice moral pour vacances gâchées. Envoyez de préférence votre lettre en recommandé avec accusé de réception.
        
        <br> Vous pouvez saisir le service de médiation choisi par le professionnel qui pourra trouver une solution amiable et éviter ainsi de recourir à un tribunal. 
        
        <br><br>

        en cas de litige contacter le médiateur  mtv 
        <br> site web: <a href="http://www.mtv.travel/" style="color: black;font-weight: bold;">www.mtv.travel</a>

<br><br>

        Le site Internet http://www.mtv.travel est la propriété de l’Association Médiation Tourisme et Voyage, association régie par la loi de 1901, BP 80 303 75 823 Paris Cedex 17 – SIRET : 751461328 00021  Code APE : 69102Le directeur de la publication du site internet est Monsieur Khalid EL WARDI, en qualité de Secrétaire Général de la Médiation Tourisme et Voyage.

        <br> <br>CONDITIONS D’ACCÈS ET D’UTILISATION

        <br><br>L’utilisateur du site  reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site. L’accès au site de l’Association Médiation Tourisme et Voyage et son utilisation nécessitent de disposer de la configuration minimale suivante : tout ordinateur doté d’un navigateur Microsoft Internet Explorer 8 ou supérieur, ou Firefox 3.5 ou supérieur. Par ailleurs, avant toute utilisation du site, l’utilisateur reconnaît s’être assuré que le navigateur utilisé permet un accès sécurisé au site.

        <br> <br>POLITIQUE EN MATIÈRE DE DONNÉES À CARACTÈRE PERSONNEL

        <br><br>1. IDENTITE DU RESPONSABLE DE TRAITEMENT ET FINALITE DU TRAITEMENT
        <br><br>L’Association Médiation Tourisme et Voyage, procède à un traitement informatisé des données des consommateurs la saisissant dans le respect de la règlementation applicable en matière de protection des données personnelles résultant de la loi du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés et du Règlement européen relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données du 27 avril 2016 entré en vigueur le 25 mai 2018.

        <br>  <br>Les fichiers ainsi constitués ne donnent lieu à aucune exploitation commerciale.

        <br>  <br>Les informations recueillies sont strictement nécessaires au traitement de la saisine en médiation. L’utilisation des données a pour finalité exclusive de permettre au Médiateur d’exercer sa mission et spécialement d’analyser la réclamation formulée devant lui par un consommateur.

        <br>  <br>En saisissant la Médiation Tourisme et Voyage, l’utilisateur donne son consentement pour le traitement de ses données personnelles. A défaut, le Médiateur ne sera pas en mesure de traiter la saisine qui lui est soumise.

        <br><br>2. DUREE DE CONSERVATION
        <br><br>Les données collectées sont conservées uniquement pendant la durée nécessaire à la réalisation des finalités décrites ci-dessus.

        <br><br>3. DESTINATAIRES OU CATEGORIES DE DESTINATAIRES
        <br><br>Les données collectées sont destinées aux services internes de la Médiation Tourisme et Voyage. Ces données sont transmises au professionnel à l’encontre de qui la saisine en médiation est initiée pour les besoins du règlement du litige opposant le consommateur au professionnel.

        <br><br>Par ailleurs, certaines données sont susceptibles d’être traitées par les prestataires ou sous-traitants de l’Association Médiation Tourisme et Voyage, dans la stricte limite de ce qui est nécessaire pour accomplir les finalités susvisées.

        <br><br>DROIT DES PERSONNES
        <br><br>Conformément aux articles 39 et suivants de la loi du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés et aux articles 15 et suivants du Règlement européen relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données du 27 avril 2016 entré en vigueur le 25 mai 2018, l’utilisateur dispose d’un droit d’accès, de rectification et de suppression des informations le concernant.

        <br> <br>Il dispose également d’un droit à la portabilité de ses données.

        <br><br>Pour exercer l’un ou l’autre de ces droits, l’utilisateur pourra envoyer un courrier postal à l’adresse suivante :   BP 80 303 75 823 Paris Cedex 17

        <br><br>DROIT D’INTRODUIRE UNE RECLAMATION AUPRES D’UNE AUTORITE DE CONTROLE
        <br><br>L’utilisateur dispose de la faculté d’introduire une réclamation auprès de la CNIL.

        <br><br>PROPRIÉTÉ INTELLECTUELLE

        <br><br>La structure générale, ainsi que les logiciels, textes, images animées ou fixes, ouvrages, sons et tout autre élément composant le site Internet http://www.mtv.travel sont réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. Toute représentation et/ou reproduction et/ou exploitation totale ou partielle de ce site internet par quelque procédé que ce soit, sans l’autorisation expresse de l’Association Médiation Tourisme et Voyage est interdite et constituerait une contrefaçon au sens des articles L.335-2 et suivants du Code de la propriété intellectuelle.

        <br> <br>Les documents “publics” ou “officiels” ainsi que la photothèque ou certaines infographies, ne sont couverts par aucun droit d’auteur et peuvent donc être reproduits librement. C’est le cas notamment pour les discours, les textes réglementaires, etc.

        <br><br>Cependant le bon usage de l’internet veut que la reprise de ces contenus de façon partielle ou intégrale mentionne clairement le nom de l’auteur, la source, et le cas échéant le lien renvoyant vers le document original en ligne sur le site.

        <br><br>Tous les autres contenus présents sur le site sont couverts par le droit d’auteur. Toute reprise est dès lors conditionnée à l’accord de l’auteur en vertu de l’article L.122-4 du Code de la Propriété Intellectuelle. Ces contenus ne sauraient être reproduits librement sans demande préalable et sans l’indication de la source.

        <br><br>Le logo de l’Association Médiation Tourisme et Voyage, ainsi que les marques des membres et des partenaires de l’Association Médiation Tourisme et Voyage figurant sur le site, sont protégés.

        <br><br>Toute représentation et/ou reproduction et/ou exploitation totale ou partielle de ces marques et/ou logos, effectuée à partir des éléments du site, sont soumis à l’autorisation expresse de l’Association Médiation Tourisme et Voyage, selon les dispositions du Code de la propriété intellectuelle.

        <br> <br>Les bases de données figurant sur site Internet http://www.mtv.travel sont protégées par les dispositions de la loi du 1er juillet 1998.

        <br><br>CRÉATION DE LIENS VERS LE SITE INTERNET

        <br><br>La mise en place de liens vers le site Internet http://www.mtv.travel n’est conditionnée à aucun accord préalable sous réserve de ne pas utiliser la technique du lien profond, c’est-à-dire que les pages du site Internet http://www.mtv.travel ne doivent pas être imbriquées à l’intérieur des pages d’un autre site, mais visibles par l’ouverture d’une fenêtre indépendante. Cette autorisation ne s’applique en aucun cas aux sites internet diffusant des informations à caractère raciste, pornographique, xénophobe, polémique ou pouvant, d’une façon générale porter atteinte à la sensibilité du plus grand nombre.

        <br><br>LIENS EXTERNES

        <br><br>De nombreux liens vers d’autres sites, privés ou officiels, français ou étrangers, sont proposés. Leur présence ne saurait engager l’Association Médiation Tourisme et Voyage quant à leur contenu et ne visent qu’à permettre à l’internaute de trouver plus facilement d’autres ressources documentaires sur le sujet consulté.

        <br><br>CLAUSE DE RESPONSABILITÉ

        <br><br>L’Association Médiation Tourisme et Voyage met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés. Ces informations sont non contractuelles. Malgré tout le soin apporté par les équipes éditoriales et techniques à la rédaction et la mise en ligne des documents, des erreurs typographiques ou des inexactitudes techniques ne peuvent être exclues qui ne sauraient engager la responsabilité de l’Association Médiation Tourisme et Voyage. L’Association Médiation

        <br><br>Tourisme et Voyage se réserve le droit de les corriger à tout moment dès qu’elles sont portées à sa connaissance.

        <br><br>Le site n’accueille aucune forme de publicité payante.

        <br><br>AVERTISSEMENT

        <br><br>L’Association Médiation Tourisme et Voyage ne saurait être tenue pour responsable des erreurs, d’une absence de disponibilités des informations, exactitudes, mises à jour, complétudes et/ou de la présence d’un virus sur son  site.

        <br><br>De même, l’Association Médiation Tourisme et Voyage ne peut être tenue responsable en cas de mauvaise utilisation du service par l’utilisateur ou en cas d’indisponibilité temporaire du service (cas de force majeure, de période de maintenance ou d’incident technique, quel qu’il soit).

        <br><br>Il est expressément entendu par l’utilisateur de ce site qu’en aucun cas l’Association Médiation Tourisme et Voyage ne peut être tenue responsable des dommages quelconques, directs ou indirects, matériels ou immatériels résultant notamment de la consultation et/ou de l’utilisation de ce site web (ou d’autres sites qui lui sont liés) et des éventuelles applications en téléchargement, comme de l’utilisation des informations textuelles ou visuelles, qui auraient pu être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d’information. En utilisant ce site, l’utilisateur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.

        <br><br>LIENS HYPERTEXTES

        <br><br>Les liens hypertextes mis en place dans le cadre du présent site web en direction d’autres ressources présentes sur le réseau Internet et, notamment, vers ses partenaires, sont clairement identifiés et font l’objet d’une information et/ou d’une autorisation préalable des sites pointés. L’Association Médiation Tourisme et Voyage s’engage à faire cesser les liens hypertextes à première demande des entreprises à qui appartiennent ces sites. Les liens hypertextes en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de l’Association Médiation Tourisme et Voyage.
      <div style="color :darkred;font-weight: bold;"> <br><br> INFO SITUATION CORONAVIRUS :

        <br><br>- LE TRAITEMENT DES DOSSIERS TRANSMIS PAR VOIE POSTAL EST SUSPENDU JUSQU'A NOUVEL ORDRE

        <br><br>- LES DELAIS DE TRAITEMENT (recevabilité, avis…) PREVUS PAR LA CHARTE MTV NE POURRONT ETRE GARANTIS
        <br><br></div>
  </div>
    </div>
  </div>
</div>
  </div>
